*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
   height: 100%;
}
/* Navbar */
.topNav{
    background-color: #131921;
   height: 60px;
   width: 100%;
   display: flex;

}
.logo{
    width: 113px;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}
.location{
    display: flex;
    align-items: center;
    color: white;
margin-left: 10px;
font-size: 12px;
cursor: pointer;

}
.location span{
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    height: 100%;
    padding-bottom: 17px;
}
.searchBox{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 20px;
}
.fullBox{
    display: flex;
    align-items: center;
    width: 594px;
}
.fullBox select{
    width: 40px;
height: 35px;
border-top-left-radius:5px ;
border-bottom-left-radius:5px ;
outline: none;
border: none;
/* padding: 2px; */
background-color: #e6e6e6;

}
.fullBox input{
    width: 450px;
    height: 35px;
    outline: none;
    border: none;
    padding: 0 8px;
}

.fullBox span{
    height: 35px;
    display: flex;
    justify-content: center;
    width: 45px;
    background-color: #febd69;
    align-items: center;
    border-top-right-radius:5px ;
 border-bottom-right-radius:5px ;
}